@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-2xl font-bold mb-6">Dashboards</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <a href="@Url.Action("Index", "Dashboard")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>01. Inspection overview</strong></p>
        <hr />
        <h3 class="text-sm">Inspection overview</h3>
    </a>
    
    <a href="@Url.Action("Index", "Defect")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>02. Defect overview</strong></p>
        <hr />
        <h3 class="text-sm">Defect overview</h3>
    </a>
    
    <a href="@Url.Action("Index", "Supplier")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>03. Supplier overview</strong></p>
        <hr />
        <h3 class="text-sm">Supplier overview</h3>
    </a>
    
    <a href="@Url.Action("Index", "Product")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>04. Product overview</strong></p>
        <hr />
        <h3 class="text-sm">Product overview</h3>
    </a>
    
    <a href="@Url.Action("Index", "SupplierPerformance")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>05. Supplier performance</strong></p>
        <hr />
        <h3 class="text-sm">Supplier performance</h3>
    </a>
    
    <a href="@Url.Action("Index", "ProductPerformance")"
       class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <p class="text-xl font-bold"><strong>06. Product performance</strong></p>
        <hr />
        <h3 class="text-sm">Product performance</h3>
    </a>

</div>
